a{
    text-decoration: none;
}

#design-body{
    width: 1100px;
    height: 1150px;
    margin: 0px auto;
    background: #F5F5F5;
    border-left: 1px solid #f9f9f9;
    border-right: 1px solid #f9f9f9;
}

.design-top{
    width: 650px;
    height: 35px;
    font-size: 20px;
    color: gray;
    font-family: "Microsoft Yahei";
}

.design-top ul{
    width: 750px;
    height: 35px;
    float: left;
    margin-left: 40px;
}

.design-top ul li{
    width:125px;
    height: 30px;
    font-size: 14px;
    line-height: 75px;
    list-style: none;
    color: grey;
    float: left;
}

.design-top ul .second-name{
    width:210px;
    height: 30px;
}

.design-top ul li a{
    color: gray;
    text-decoration: none;
}

.design-top ul li a:hover {
    color: #000000;
}
/* ---------------------------------------------------- */
.design-plan{
    width: 1100px;
    height: 1000px;
}

.design-plan ul{
    width: 1100px;
    height: 300px;
    list-style: none;
    padding: 0;
}

.design-plan ul li{
    width: 320px;
    height: 275px;
    background: white;
    margin:  20px 0px 0px 35px;
    float: left;
}

.design-plan ul li a{
    text-decoration: none;
}

.design-plan ul li a img{
    width: 300px;
    height: 200px;
    padding: 25px 0px 0px 20px;
}

.design-name{
    width: 260px;
    height: 24px;
    margin: 10px 0px 0px 20px;
    font-size: 15px;
    font-family: simhei;
}

.design-name a{
    color: black;
}

.design-plan ul li span{
    display: inline-block;
    width: 150px;
    height: 20px;
    font-size: 13px;
    margin-left: 20px;
    color: gray;
}

/* ------------------------------------  */
.design-bottom{
    width: 800px;
    height: 50px;
   /* background: red;*/
    margin-left: 140px;
}
/*---------------分页---------------------*/

.page-split{
    width: 800px;
    height: 50px;
    position: absolute;
}

.page-split .first-span{
    display: inline-block;
    width: 55px;
    height: 25px;
    position: relative;
    top: 10px;
    left: 200px;
    float: left;
}

.page-split .two-span{
    display: block;
    width: 120px;
    height: 25px;
    position: relative;
    top: 10px;
    left: 200px;
    float: left;
}

.page-split .two-span label{
    display: inline-block;
    width: 100px;
    height: 25px;
    float: left;

}

.page-split .two-span  b{
    display: inline-block;
    width: 20px;
    height: 20px;
    float: left;
}

.page-split .two-span  b a{
    display: inline-block;
    width: 20px;
    height: 20px;
    float: left;
    margin-left: -17px;
}

.page-split .three-span{
    display: inline-block;
    width: 55px;
    height: 25px;
    position: relative;
    top: 10px;
    left: 207px;
    float: left;
}

.page-split .four-span{
    display: inline-block;
    width: 35px;
    height: 25px;
    position: relative;
    top: 10px;
    left: 225px;
    float: left;
}

.page-input{
    width: 120px;
    height: 33px;
    margin: 5px 0px 0px 240px;
}


.page-button{
    width: 100px;
    height: 33px;
    border: none;
    background: #3AC569;
    border-radius: 12px;
    margin-left: 20px;
}

.first-span a,.two-span b a,.three-span a{
    text-decoration: none;
    color: black;
}