*{
    margin: 0;
    padding: 0;
}

#designer-body{
    width: 1100px;
    height: 1260px;
    margin: 0px auto;
    border: 1px solid white;
    background: #F5F5F5;
    border-left: 1px solid #f9f9f9;
    border-right: 1px solid #f9f9f9;
}

.designer-title{
    width: 310px;
    height: 30px;
    margin: 20px 0px 0px 35px;

}

.designer-title span{
    font-size: 13px;
    color: gray;
}

.designer-title span label{
    font-size: 13px;
    color: black;
}

.left{
    width: 220px;
    height: 450px;
    background: white;
    margin-left: 30px;
    position: absolute;

}

.person-profile{
    width: 150px;
    height: 240px;
    position: relative;
    top: 20px;
    left: 35px;
}

.person-profile img{
    width: 150px;
    height: 150px;
    border-radius: 95px;
}

.person-profile span{
    display: inline-block;
    width: 80px;
    height: 35px;
    font-size: 20px;
    color: #333;
    margin: 10px 0px 0px 40px;
}

.person-profile label{
    display: inline-block;
    width: 80px;
    height: 40px;
    font-size: 16px;
    color: gray;
    font-family: simsun;
    margin: 5px 0px 0px 36px;
}

.person-introduce{
    width: 220px;
    height: 100px;
    margin: 20px 0px 0px 0px ;
}

.person-introduce .person-name{
    display: inline-block;
    width: 220px;
    height: 32px;
    font-size: 18px;
    font-family: simsun;
    line-height: 32px;
    color: black;
    font-weight: bold;
}

.person-introduce span{
    color: gray;
    font-size: 13px;
}

.right{
    width: 800px;
    height: 1180px;
    background: white;
    margin-left: 280px;
    border: 1px solid white;
}

.right-title{
    width: 300px;
    height: 60px;
    font-size: 20px;
    color: #333;
    line-height: 70px;
    margin: 20px 0px 0px 30px;
}

.right .right-title span{
    font-size: 15px;
    color: gray;
    padding-left: 15px;
}

.writing{
    width: 800px;
    height: 1180px;
}

.writing ul{
    list-style: none;
    width: 800px;
    height: 920px;
}

.writing ul a li{
    width: 230px;
    height: 280px;
    border: 1px solid whitesmoke;
    float: left;
    margin: 10px 0px 0px 25px;
}

.writing ul a li img{
    width: 228px;
    height: 210px;
}

.writing ul a li span{
    display: inline-block;
    width: 230px;
    height: 30px;
    font-size: 17px;
    color: #333333;
    margin-left: 25px;
}

.writing ul a li label{
    width: 230px;
    color: gray;
    font-size: 14px;
    padding-left: 25px;
}

.writing ul a{
    text-decoration: none;
    color: black;
}